---
---
<a href="/">Accueil</a>
<a href="/about/">A propos</a>
<a href="/blog/">Blog</a>

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <h1>A propos</h1>
    <h2>Ceci est un test</h2>
    <p>Le but est de pouvoir m'exercer &agrave; la pratique du d&eacute;veloppement dans le framework Astro</p>
    <p>Pour l'instant, rien de bien compliqu&eacute; !</p>
  </body>
</html>