---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>Written by {frontmatter.author}</p>
    <p>in : {frontmatter.location}</p>
    <p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
    <p class="description">{frontmatter.description}</p>
    <slot />
    <p>Découvrez mes autres posts :</p>
    <script>
        import '../scripts/blogPosts' 
    </script>
</BaseLayout>
